@charset "UTF-8";
/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*breadcrumb transition*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

.el-breadcrumb__inner, .el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload input[type="file"] {
  display: none !important;
}

.el-upload__input {
  display: none;
}

.cell .el-tag {
  margin-right: 0px;
}

.small-padding .cell {
  padding-left: 5px;
  padding-right: 5px;
}

.fixed-width .el-button--mini {
  padding: 7px 10px;
  width: 60px;
}

.status-col .cell {
  padding: 0 10px;
  text-align: center;
}

.status-col .cell .el-tag {
  margin-right: 0px;
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.article-textarea textarea {
  padding-right: 40px;
  resize: none;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #bfcbd9;
}

.upload-container .el-upload {
  width: 100%;
}

.upload-container .el-upload .el-upload-dragger {
  width: 100%;
  height: 200px;
}

.el-dropdown-menu a {
  display: block;
}

#app .main-container {
  min-height: 100%;
  transition: margin-left .28s;
  margin-left: 180px;
  position: relative;
}

#app .sidebar-container {
  transition: width 0.28s;
  width: 180px !important;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 49px;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
}

#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}

#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}

#app .sidebar-container .scrollbar-wrapper .el-scrollbar__view {
  height: 94vh;
}

#app .sidebar-container .is-horizontal {
  display: none;
}

#app .sidebar-container a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

#app .sidebar-container .svg-icon {
  margin-right: 16px;
}

#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}

#app .sidebar-container .is-active > .el-submenu__title {
  color: #f4f4f5 !important;
}

#app .hideSidebar .sidebar-container {
  width: 36px !important;
}

#app .hideSidebar .main-container {
  margin-left: 36px;
}

#app .hideSidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
  position: relative;
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 10px !important;
}

#app .hideSidebar .el-submenu {
  overflow: hidden;
}

#app .hideSidebar .el-submenu > .el-submenu__title {
  padding-left: 10px !important;
}

#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title,
#app .sidebar-container .el-submenu .el-menu-item {
  min-width: 180px !important;
  background-color: #1f2d3d !important;
}

#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title:hover,
#app .sidebar-container .el-submenu .el-menu-item:hover {
  background-color: #001528 !important;
}

#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 180px !important;
}

#app .mobile .main-container {
  margin-left: 0px;
}

#app .mobile .sidebar-container {
  transition: transform .28s;
  width: 180px !important;
}

#app .mobile.hideSidebar .sidebar-container {
  transition-duration: 0.3s;
  transform: translate3d(-180px, 0, 0);
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
  transition: none;
}

.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}

.blue-btn {
  background: #324157;
}

.blue-btn:hover {
  color: #324157;
}

.blue-btn:hover:before, .blue-btn:hover:after {
  background: #324157;
}

.light-blue-btn {
  background: #3A71A8;
}

.light-blue-btn:hover {
  color: #3A71A8;
}

.light-blue-btn:hover:before, .light-blue-btn:hover:after {
  background: #3A71A8;
}

.red-btn {
  background: #C03639;
}

.red-btn:hover {
  color: #C03639;
}

.red-btn:hover:before, .red-btn:hover:after {
  background: #C03639;
}

.pink-btn {
  background: #E65D6E;
}

.pink-btn:hover {
  color: #E65D6E;
}

.pink-btn:hover:before, .pink-btn:hover:after {
  background: #E65D6E;
}

.green-btn {
  background: #30B08F;
}

.green-btn:hover {
  color: #30B08F;
}

.green-btn:hover:before, .green-btn:hover:after {
  background: #30B08F;
}

.tiffany-btn {
  background: #4AB7BD;
}

.tiffany-btn:hover {
  color: #4AB7BD;
}

.tiffany-btn:hover:before, .tiffany-btn:hover:after {
  background: #4AB7BD;
}

.yellow-btn {
  background: #FEC171;
}

.yellow-btn:hover {
  color: #FEC171;
}

.yellow-btn:hover:before, .yellow-btn:hover:after {
  background: #FEC171;
}

.pan-btn {
  font-size: 14px;
  color: #fff;
  padding: 14px 36px;
  border-radius: 8px;
  border: none;
  outline: none;
  transition: 600ms ease all;
  position: relative;
  display: inline-block;
}

.pan-btn:hover {
  background: #fff;
}

.pan-btn:hover:before, .pan-btn:hover:after {
  width: 100%;
  transition: 600ms ease all;
}

.pan-btn:before, .pan-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  transition: 400ms ease all;
}

.pan-btn::after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.custom-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 4px;
}

.layer {
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  display: none;
  top: 0;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.layer .overlay {
  position: fixed;
  background: rgba(55, 55, 55, 0.6);
  overflow: hidden;
  top: 0;
  height: 100%;
  right: 0;
  left: 0;
  bottom: 0;
}

.layer .layer-position {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  max-width: 1200px;
  min-width: 200px;
  z-index: 1;
}

.layer .layer-body {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  animation-duration: 0.3s;
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
}

.layer .layer-close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 20px;
  height: 20px;
  z-index: 10;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.layer .layer-close:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.layer .layer-header {
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 16px;
  padding-left: 15px;
  position: relative;
  border: 1px solid #e9eaec;
  color: #333;
  border-radius: 5px 5px 0 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.layer .layer-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

.layer .layer-content {
  padding: 15px;
}

.layer .layer-content.layer-content-text {
  text-align: center;
}

.layer .layer-content.layer-content-text .layer-text {
  display: inline-block;
  text-align: left;
}

.layer .layer-content.layer-content-text .layer-text.success:before {
  content: '\e6d0';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 26px;
  color: #1dc116;
  margin-right: 10px;
  font-family: "iconfont" !important;
}

.layer .layer-content.layer-content-text .layer-text.failure:before {
  content: '\e640';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 26px;
  color: #c11920;
  margin-right: 10px;
  font-family: "iconfont" !important;
}

.layer .layer-footer {
  text-align: center;
  margin: 10px 0;
  overflow: hidden;
}

.layer .layer-footer .btn {
  margin: 0 5px;
}

.layer .auto-close {
  position: absolute;
  left: 10px;
  top: 45px;
}

.layer.active {
  display: block;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.layer-anim-1 {
  animation-name: scaleIn;
}

@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale(0.1) translateY(-2000px);
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateY(60px);
    animation-timing-function: ease-out;
  }
}

.layer-anim-2 {
  animation-name: zoomInDown;
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.layer-anim-3 {
  animation-name: fadeInUpBig;
}

@keyframes zoomInLeft {
  0% {
    opacity: 0;
    transform: scale(0.1) translateX(-2000px);
    animation-timing-function: ease-in-out;
  }
  60% {
    opacity: 1;
    transform: scale(0.475) translateX(48px);
    animation-timing-function: ease-out;
  }
}

.layer-anim-4 {
  animation-name: zoomInLeft;
}

@keyframes rollIn {
  0% {
    opacity: 0;
    transform: translateX(-100%) rotate(-120deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.layer-anim-5 {
  animation-name: rollIn;
}

@keyframes scalerotate {
  0% {
    opacity: 0;
    transform: scale(0) rotate(720deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.layer-anim-6 {
  animation-name: scalerotate;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.layer-anim-7 {
  animation-name: shake;
}

@keyframes anim8 {
  0% {
    opacity: 0;
    transform: scale(2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.alert-anim-8 {
  animation-name: anim8;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

code a {
  color: #337ab7;
  cursor: pointer;
}

code a:hover {
  color: #20a0ff;
}

.warn-content {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.warn-content a {
  color: #42b983;
  font-weight: 600;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, #20b6f9 0%, #20b6f9 0%, #2178f1 100%, #2178f1 100%);
}

.sub-navbar .subtitle {
  font-size: 20px;
  color: #fff;
}

.sub-navbar.draft {
  background: #d0d0d0;
}

.sub-navbar.deleted {
  background: #d0d0d0;
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
}

.link-type:hover,
.link-type:focus:hover {
  color: #20a0ff;
}

.filter-container {
  padding-bottom: 10px;
}

.filter-container .filter-item {
  display: inline-block;
  vertical-align: middle;
}

.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.el-dialog__wrapper {
  position: absolute;
}

.el-dialog__wrapper .el-dialog {
  /*滚动条样式*/
}

.el-dialog__wrapper .el-dialog .el-dialog__headerbtn {
  top: 14px;
}

.el-dialog__wrapper .el-dialog .el-form .el-select {
  width: 100%;
}

.el-dialog__wrapper .el-dialog .el-dialog__header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
  padding: 10px 20px 10px;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .dialog-title-rm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .dialog-title-rm span:last-child {
  padding-right: 2em;
  cursor: pointer;
  line-height: 25px;
}

.el-dialog__wrapper .el-dialog .el-dialog__header .dialog-title-rm span:last-child :hover {
  color: #45a0ff;
}

.el-dialog__wrapper .el-dialog .el-dialog__body {
  max-height: 53em;
  overflow-y: auto;
}

.el-dialog__wrapper .el-dialog .el-dialog__body .upload-demo {
  text-align: center;
}

.el-dialog__wrapper .el-dialog .el-dialog__body::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.el-dialog__wrapper .el-dialog .el-dialog__body::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.el-dialog__wrapper .el-dialog .el-dialog__body::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.el-table__body-wrapper .el-button .svg-icon {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.el-table__body-wrapper .el-button i {
  font-size: 16px;
}

.el-container .el-aside {
  width: 25% !important;
  margin-right: 1%;
}

.el-container .el-header,
.el-container .el-main {
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.el-container .el-header {
  margin-bottom: 1%;
}

.el-container .el-header .topTitle {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.el-container .el-header .filter-container {
  padding: 25px 0 !important;
}

.el-table th > .cell,
.el-table tr td .cell {
  text-align: center;
  white-space: nowrap;
}

.el-mindiv {
  position: fixed;
  z-index: 10001;
  left: 195px;
  bottom: 5em;
  width: 150px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  pointer-events: auto;
}

.el-mindiv .layui-layer-title {
  padding: 0 40px 0 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  background-color: #f8f8f8;
  border-radius: 2px 2px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.el-mindiv .layui-layer-setwin {
  position: absolute;
  right: 15px;
  top: 15px;
  line-height: initial;
}

.el-mindiv .layui-layer-setwin .svg-icon {
  margin: 0 0.5em;
}

.el-mindiv .layui-layer-setwin i,
.el-mindiv .layui-layer-setwin .svg-icon {
  cursor: pointer;
}

/*滚动条样式*/
.layer-scroll::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 4px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 4px;
}

.layer-scroll::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);
}

.layer-scroll::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 0;
  background: rgba(0, 0, 0, 0.1);
}

.el-form-item--mini /deep/ .vue-treeselect__control {
  height: 28px;
}

.el-form-item--mini /deep/ .vue-treeselect__control .vue-treeselect__placeholder {
  line-height: 30px;
}
