@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";
@import "./btn.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 15px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

.warn-content {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 16px;
  padding: 1rem;
  line-height: 1.6rem;
  word-spacing: 0.05rem;
  a {
    color: #42b983;
    font-weight: 600;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(
    90deg,
    rgba(32, 182, 249, 1) 0%,
    rgba(32, 182, 249, 1) 0%,
    rgba(33, 120, 241, 1) 100%,
    rgba(33, 120, 241, 1) 100%
  );
  .subtitle {
    font-size: 20px;
    color: #fff;
  }
  &.draft {
    background: #d0d0d0;
  }
  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;
  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    // margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

// 这里是我们自定义的通用样式-----start
.el-dialog__wrapper {
  position: absolute;
  .el-dialog {
    .el-dialog__headerbtn {
      top: 14px;
    }
    // 改写 ====   把element的dialog组件上下左右居中显示
    // position: absolute !important;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // -moz-transform: translate(-50%, -50%);
    // -webkit-transform: translate(-50%, -50%);
    // -ms-transform: translate(-50%, -50%);
    // -o-transform: translate(-50%, -50%);
    // margin-top: 0 !important;
    .el-form .el-select {
      width: 100%;
    }
    .el-dialog__header {
      background-color: #f8f8f8;
      border-bottom: 1px solid #eee;
      padding: 10px 20px 10px;
      .dialog-title-rm {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:last-child {
          padding-right: 2em;
          cursor: pointer;
          line-height: 25px;
          :hover {
            color: #45a0ff;
          }
        }
      }
    }
    .el-dialog__body {
      max-height: 750px;
      overflow-y: auto;
      .upload-demo {
        text-align: center;
      }
    }
    /*滚动条样式*/
    .el-dialog__body::-webkit-scrollbar {
      /*滚动条整体样式*/
      width: 4px;
      /*高宽分别对应横竖滚动条的尺寸*/
      height: 4px;
    }
    .el-dialog__body::-webkit-scrollbar-thumb {
      /*滚动条里面小方块*/
      border-radius: 5px;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
    }
    .el-dialog__body::-webkit-scrollbar-track {
      /*滚动条里面轨道*/
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

// table表格里面按钮的大小
.el-table__body-wrapper .el-button .svg-icon {
  width: 1.2rem !important;
  height: 1.2rem !important;
}
.el-table__body-wrapper .el-button i {
  font-size: 16px;
}

.el-container {
  .el-aside {
    width: 25% !important;
    margin-right: 1%;
  }
  .el-header,
  .el-main {
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    width: 100%;
  }
  .el-header {
    margin-bottom: 1%;
    .topTitle {
      text-align: left;
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
    }
    .filter-container {
      padding: 25px 0 !important;
    }
  }
}
// 表头表内容居中
.el-table th > .cell,
.el-table tr td .cell {
  text-align: center;
  white-space: nowrap;
}

// 最大化,最小化样式
.el-mindiv {
  position: fixed;
  z-index: 10001;
  left: 195px;
  bottom: 5em;
  width: 150px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-radius: 2px;
  pointer-events: auto;
  .layui-layer-title {
    padding: 0 40px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #f8f8f8;
    border-radius: 2px 2px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layui-layer-setwin {
    position: absolute;
    right: 15px;
    top: 15px;
    line-height: initial;
    .svg-icon {
      margin: 0 0.5em;
    }
    i,
    .svg-icon {
      cursor: pointer;
    }
  }
}

// 这里是我们自定义的通用样式-----end
